<!Doctype html>
<html>
<head>
	<title>WD</title>
</head>
<body>
	<div id='headder'>

	</div>
	<div id='content'>
	<h>Hello user</h>


<div>
<div id='user-info'>
	<label>Name</label><input id='name'/><br/>
	<label>Country</label><input id='country'/><br/>
	<label>City</label><input id='city'/><br/>
	<label>role></label><input id='role'/><br/>
	<label>Supervisor/Organisation></label><input id='supervisor'><br/>
	<label>Skype</label><input id='skype'/>
	<button>Add</button>

	</div>
	<div id='footer'>
	</div>
	<script type="text/javascript"  src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
<script type="text/javascript"  src='/javascripts/first-login.js'></script>



</body>

</html>